@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.cc-image {
  left: 8px;
  top: 34px;
  width: 40px;
}

.ui-container {
  border-top: 2px solid;
  border-top-color: rgb(49, 151, 149);
}
