<div class="bg-white border shadow-sm max-w-68 lg:rounded-sm ui-container">
  <div class="px-4 py-2 border-b">
    <h2 class="uppercase">
      {{@title}}
    </h2>
  </div>
  <div class="p-4">
    {{yield}}
  </div>
</div>
