<header class="p-3 mb-3 border-b">
  <h1 class="text-2xl font-semibold">Credit Card POC</h1>
</header>
<main class="flex justify-center mt-16">
  <UiContainer @title="Credit Card Details">
    <CreditCard />
  </UiContainer>
</main>