<header class="fixed top-0 left-0 right-0 p-3 mb-3 bg-white border-b">
  <h1 class="text-2xl font-semibold">Credit Card POC</h1>
</header>
<main class="flex justify-center w-full mt-24">
  <div class="grid grid-flow-row gap-4">
    <UiContainer @title="Mini Cart">
      <div>
        <h2 class="text-lg font-semibold">Tryout Clinics</h2>
        <div class="text-sm text-gray-700">
          <span>50 min</span>
          <span>-</span>
          <span>$80.00</span>
        </div>
        <div class="pt-3 mt-4 border-t">
          <a href="#" class="text-sm font-semibold text-teal-600">Apply gift code</a>
        </div>
      </div>
    </UiContainer>

    <UiContainer @title="Credit Card Details">
      <CreditCard />
    </UiContainer>

    <div class="mt-6">
      <button
        type="button"
        class="w-full py-4 text-lg text-white bg-teal-600"
      >
        Complete
      </button>
    </div>
  </div>
</main>